<style>

 body {
 
 font-family: cooper black;
background-image:url('1.jpg');
 background-repeat:no-repeat;
 background-attachement:fixed;
 background-size:1000%;
 
 }
 h1 {
 color: yellow;
 }
 p {
 color: black;t-size: 20px;
 font
 }
 </style>